<div class="listContacts">
  <div class="contactControls">
    <button id="backBtn" class="backBtn" type="button">Back</button>
  </div>
  <div id="target">

  </div>
</div>

<div id="template">
  <div class="contact">
    <div class="title">
      <span class="contactFirstName">##firstName##</span>
      <span class="contactLastName">##lastName##</span>
    </div>
    <div class="info">
      <span class="contactEmail">##email##</span>
      <span class="contactCountry">##country##</span>
    </div>
    <button type="button" class="editBtn">Edit</button>
    <input type="hidden" value="##_id##">
  </div>
</div>
