<div id="target" class="mainFormContainer mainContainer">

</div>

<div id="template">
  <div class="formControls">
    <button id="backBtn" class="backBtn" type="button">Back</button>
    <button id="deleteBtn" class="deleteBtn" type="button">Delete</button>
  </div>
  <div class="formContainer">
    <input type="text" placeholder="First Name" value="##firstName##">
    <input type="text" placeholder="Last Name" value="##lastName##">
    <input type="text" placeholder="Email" value="##email##">
    <input type="text" placeholder="Country" value="##country##">
    <input type="hidden" id="id" value="##_id##">
  </div>
  <div class="formSubmit">
    <button id="saveBtn" class="saveBtn" type="button">Save</button>
  </div>

</div>
