#template {
  display: none;
}

body{
  width: 70%;
  height: 70vh;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mainContainer{
  background-color: white;
}

html{
  background-color: #81BEF7;
}

.animate {
  transition: 1s;
  opacity: 1;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2E9AFE;
  border-radius: 2px;
  opacity: 0.6;
  color: white;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s;
}

button:hover{
  opacity: 1;

  transition: 0.5s;
}
