<div class="listContacts mainContainer">
  <div class="contactControls">
    <button id="newBtn" class="newBtn" type="button">New Contact</button>
  </div>
  <div id="target">

  </div>
</div>

<div id="template">
  <div class="contact">
    <div class="title">
      <span class="contactFirstName">##firstName##</span>
      <span class="contactLastName">##lastName##</span>
    </div>
    <div class="info">
      <div class="elem">
        <span>Email:</span>
        <a class="contactEmail" href="mailto:##email##">##email##</a>
      </div>
      <div class="elem">
        <span>Country:</span>
        <span class="contactCountry">##country##</span>
      </div>
    </div>
    <button type="button" class="editBtn">Edit</button>
    <input type="hidden" value="##_id##">
  </div>
</div>
